<div class="basic-grey">
    <h1>Seja bem vindo à nossa agenda!</h1>
        
    <ul>
        <li><span class="glyphicon glyphicon-th-list"></span><%= link_to "Tipos", types_path  %></a></li>
        <li><span class="glyphicon glyphicon-phone-alt"></span><%= link_to "Contatos", contacts_path %></li>
    </ul>
</div>